font-family: 'Amatic SC', cursive;

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.NavBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.center {
  text-align:center
}

p {
  font-size: 1.1em;
}

.ui.card>.content.extra,
.ui.cards>.card>.content.extra {
  background-color: 243,244,245;
}

.ui.cards>.card>.content.extra.female {
  background-color: rgb(244,0,106,0.2);
}

.ui.cards>.card>.content.extra.red {
  background-color: rgb(231,70,64,0.6);
}

.ui.cards>.card>.content.extra.blue {
  background-color: rgb(14,78,193,0.2);
}

.ui.cards>.card>.content.extra.purple {
  background-color: rgb(155,103, 179, 0.2);
}

.ui.cards>.card>.content.extra.white {
  background-color: 243,244,245);
}
